body{
    background-color: beige;
}

#mainContainerGetter{
    margin: 20px;
    padding: 20px;
    border-style: solid;
    border-color: red;
    border-radius: 25px;
    background-color: blanchedalmond;
    border-color: bisque;
    text-align: center;
}

.jumbotron{
    background-color: blanchedalmond;
}

#divHabitaciones{
    border-radius: 25px;
}

#btnSendSet{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: green;
    font-size: 25px;
    transition-duration: 0.4s;
}

#btnSendSet:hover{
    background-color: darkgreen;
}

#btnBackInicio{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    font-size: 25px;
    transition-duration: 0.4s;
}

#btnBackInicio:hover{
    background-color: blue;
    color: white;
}

#btnBackSelect{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    font-size: 25px;
    transition-duration: 0.4s;
}

#btnBackSelect:hover{
    background-color: goldenrod;
}

